**/Icon*

.idea/
*.class
.settings/
.project
.classpath

# JVM crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

update-libs.sh

.DS_Store
applet
application.linux32
application.linux64
application.windows32
application.windows64
application.macosx
bin/
target/
classes/
Projects/project.lxp
resources/shaders/cache/*.bin

.devSwitch
